html,body,.ivu-row-flex,.layout{
  height: 100%;
  min-height: 100%;
  overflow-y: hidden;
}
.layout{
  overflow: auto;
}
.none{ display: none;}
.user:hover{background: rgba(0,0,0,0.1)}
.Badge li{
  display: inline-block;
  /* height: 50px;
  max-height: 100px; */
  cursor: pointer;
}
.Badge .ivu-badge-count{
  top:-5px;
  right: -5px;
  border-radius: 4px;
  padding: 0 2px;
  box-shadow:none;
  height: 15px;
  min-width: 15px;
  line-height: 15px;
}
.Badge .green .ivu-badge-count{
  background: #00a65a;
}
.Badge .yellow .ivu-badge-count{
  background: #f39c12;
}
.green{color: #00a65a;}
.removeArror .ivu-icon-ios-arrow-down:before {
  content: ""
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title{
  background: #1a2226;
}
.ivu-menu{ background: #2c3b41;}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover{
  background: #3c8dbc!important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover{
  background: #1a2226;
}
.user-panel{ color: #fff;}
.pull-left{ float: left!important;}
.pull-right{ float: right!important;}
.user-panel{
  padding: 14px 24px;
}
.topFlex .user-panel{
  padding: 2px 24px;
}
.user-panel .image img{
  width: 100%;
  max-width: 45px;
  height: auto;
  border-radius: 50%;
}
.user-panel .info {
  padding: 5px 5px 5px 35px;
  line-height: 1;
  position: absolute;
  left: 55px;
}
.user-panel .info p{
  line-height: 25px;
}
.user-panel .info a{
  color: #fff;
}
.user-panel>.info>a>.fa, .user-panel>.info>a>.ion, .user-panel>.info>a>.glyphicon{
  margin-right: 3px;
}
.clear{clear:both;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.ivu-page{ width: 100%; text-align: center; margin: 20px auto;}
.topFlex{ height: 50px;}
.layout-copy{
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.layout-copy span{
  margin-left: -300px;
  display: block;
}

.ivu-menu-item a{
  display: block;
  color: rgba(255,255,255,.7);
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover{
  color: #fff;
}
.ivu-collapse-content{
  overflow: initial;
}
.layout-content{ height: 84%; overflow: auto!important;}
.ivu-form-item{
  margin-bottom: 16px;
}
.salaryTabs .ivu-tabs-content {
  overflow: auto;
  position: relative;
}

.dlList .ivu-icon-minus-round:before{
  color: #b97254;
}
.dlList .ivu-icon-plus-round{
  color: #93bd59;
}
.dlList .add .ivu-icon-plus-round{
  color: #495060;
}
.modalCol .ivu-col-span-12{
  width: 90%;
}

.create {
  margin: 20px auto;
  border-bottom: 1px solid #eaeaea;
}
.create a{
  display: inline-block;
}
.create .ivu-btn {
  margin-bottom: 20px;
  display: block;
}

.floatRight{
  float: right;
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
  padding: 0;
  padding-left: 24px;
}
.ivu-menu-submenu-title span>i, .ivu-menu-submenu-title>i{
  /* padding-left: 24px; */
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title span{
  display: inline-block;
  width: 60%;
  padding: 14px 0;
}
.ivu-menu-vertical .ivu-menu-submenu-title-icon{
  right: 24px;
}
.ivu-menu-opened .ivu-menu-submenu-title-icon{
  position: absolute;
  top:18px;
  right: 24px;
}
.ivu-menu-vertical .ivu-menu-submenu-title-icon{
  top:18px;
}
.ivu-menu .ivu-menu-item-selected{ width: 100%;}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover{
  background: none!important;
}
.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item{ padding-left: 0; width: 100%;}
.ivu-menu-vertical .ivu-menu-item{
  padding: 0;
}
.ivu-menu-submenu{ border-bottom: 1px solid #1a2226;}
.ivu-menu-item a{ padding: 14px 0 14px 43px;}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active .ivu-menu-submenu-title{
  color: rgba(255,255,255,.7);
}
.is-active{
  background: #3c8dbc;

}
.ivu-menu-item .is-active{
  color: #fff;
}
.layout-breadcrumb .is-active{
  background: none;
}



.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 8px;
  border-radius: 50%;
  position: relative;
  background: #2d8cf0;
}
.blue{
  background: #2d8cf0;
}
.red{
  background: #f00;
}
.green{
  background: #19be6b;
}



/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

/*switch  */
.ivu-switch-large {
  /* float: right; */
  width: 70px;
  height: 30px;
  line-height: 30px;
  margin-top: 2px;
  margin-left: 20px;
}

/*fade animate  */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}

.ivu-switch:after {
  content: '';
  width: 30px;
  height: 25px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  left: 1px;
  top: 1px;
  cursor: pointer;
  transition: left .2s ease-in-out,width .2s ease-in-out;
}
.ivu-switch-inner{
  left: 35px;
}

.ivu-tooltip-popper{
  left: 50px;
}
.salaryTabs .ivu-tooltip-rel,.salaryTabs .ivu-tooltip{
  width: 100%;
}
.empTable .ivu-checkbox-wrapper{
  margin: 0px !important;
}
.ivu-table-header .ivu-table-cell{ cursor: pointer;}

.diyTabs.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
  height: 50px;
}
.diyTabs.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container{
  height: 50px !important;
}

.inquireBtn {
  float: right;
}

.ivu-tooltip-inner{
  white-space: normal;
}
.ivu-icon{ vertical-align: middle;}

.floatRightBtns{
  text-align: right;
}

.ivu-form .ivu-form-item-label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    line-height: 1;
    padding: 10px 12px 10px 0;
    box-sizing: border-box;
}
.ivu-table td {
  height: 40px;
}

/* inline cover style */
.db {display: block;}.di {display: inline;}.dib{display: inline-block;}.dt {display: table}.dtc{display: table-cell;}
.pa {position: absolute;}.pr {position: relative;} .pf {position: fixed;}
.tl {text-align: left;}.tc {text-align: center;}.tr {text-align: right;}
.fl {float: left;}.fr {float: right;}
.mw5 {min-width: 5px;}.mw10 {min-width: 10px;}.mw20 {min-width: 20px;}.mw30 {min-width: 30px;}.mw40 {min-width: 40px;}.mw50 {min-width: 50px;}.mw60 {min-width: 60px;}.mw70 {min-width: 70px;}.mw80 {min-width: 80px;}.mw90 {min-width: 90px;}.mw100 {min-width: 100px;}.mw110 {min-width: 110px;}.mw120 {min-width: 120px;}.mw130 {min-width: 130px;}.mw140 {min-width: 140px;}.mw150 {min-width: 150px;}.mw160 {min-width: 160px;}.mw170 {min-width: 170px;}.mw180 {min-width: 180px;}.mw190 {min-width: 190px;}.mw200 {min-width: 200px;}.mw210 {min-width: 210px;}.mw220 {min-width: 220px;}.mw230 {min-width: 230px;}.mw240 {min-width: 240px;}.mw250 {min-width: 250px;}.mw260 {min-width: 260px;}.mw270 {min-width: 270px;}.mw280 {min-width: 280px;}.mw290 {min-width: 290px;}.mw300 {min-width: 300px;}.mw325 {min-width: 325px;}.mw350 {min-width: 350px;}.mw375 {min-width: 375px;}.mw400 {min-width: 400px;}.mw450 {min-width: 450px;}.mw500 {min-width: 500px;}
.m5 {margin: 5px;}.m10 {margin: 10px;}.m15 {margin: 15px;}.m20 {margin: 20px;}.m25 {margin: 25px;}.m30 {margin: 30px;}.m35 {margin: 35px;}.m40 {margin: 40px;}.m45 {margin: 40px;}.m50 {margin: 50px;}
.mt5 {margin-top: 5px;}.mt10 {margin-top: 10px;}.mt15 {margin-top: 15px;}.mt20 {margin-top: 20px;}.mt25 {margin-top: 25px;}.mt30 {margin-top: 30px;}.mt35 {margin-top: 35px;}.mt40 {margin-top: 40px;}.mt45 {margin-top: 40px;}.mt50 {margin-top: 50px;}
.ml5 {margin-left: 5px;}.ml10 {margin-left: 10px;}.ml15 {margin-left: 15px;}.ml20 {margin-left: 20px;}.ml25 {margin-left: 25px;}.ml30 {margin-left: 30px;}.ml35 {margin-left: 35px;}.ml40 {margin-left: 40px;}.ml45 {margin-left: 40px;}.ml50 {margin-left: 50px;}
.mb5 {margin-bottom: 5px;}.mb10 {margin-bottom: 10px;}.mb15 {margin-bottom: 15px;}.mb20 {margin-bottom: 20px;}.mb25 {margin-bottom: 25px;}.mb30 {margin-bottom: 30px;}.mb35 {margin-bottom: 35px;}.mb40 {margin-bottom: 40px;}.mb45 {margin-bottom: 40px;}.mb50 {margin-bottom: 50px;}
.mr5 {margin-right: 5px;}.mr10 {margin-right: 10px;}.mr15 {margin-right: 15px;}.mr20 {margin-right: 20px;}.mr25 {margin-right: 25px;}.mr30 {margin-right: 30px;}.mr35 {margin-right: 35px;}.mr40 {margin-right: 40px;}.mr45 {margin-right: 40px;}.mr50 {margin-right: 50px;}
.p5 {padding: 5px;}.p10 {padding: 10px;}.p15 {padding: 15px;}.p20 {padding: 20px;}.p25 {padding: 25px;}.p30 {padding: 30px;}.p35 {padding: 35px;}.p40 {padding: 40px;}.p45 {padding: 40px;}.p50 {padding: 50px;}
.pt5 {padding-top: 5px;}.pt10 {padding-top: 10px;}.pt15 {padding-top: 15px;}.pt20 {padding-top: 20px;}.pt25 {padding-top: 25px;}.pt30 {padding-top: 30px;}.pt35 {padding-top: 35px;}.pt40 {padding-top: 40px;}.pt45 {padding-top: 40px;}.pt50 {padding-top: 50px;}
.pl5 {padding-left: 5px;}.pl10 {padding-left: 10px;}.pl15 {padding-left: 15px;}.pl20 {padding-left: 20px;}.pl25 {padding-left: 25px;}.pl30 {padding-left: 30px;}.pl35 {padding-left: 35px;}.pl40 {padding-left: 40px;}.pl45 {padding-left: 40px;}.pl50 {padding-left: 50px;}
.pb5 {padding-bottom: 5px;}.pb10 {padding-bottom: 10px;}.pb15 {padding-bottom: 15px;}.pb20 {padding-bottom: 20px;}.pb25 {padding-bottom: 25px;}.pb30 {padding-bottom: 30px;}.pb35 {padding-bottom: 35px;}.pb40 {padding-bottom: 40px;}.pb45 {padding-bottom: 40px;}.pb50 {padding-bottom: 50px;}
.pr5 {padding-right: 5px;}.pr10 {padding-right: 10px;}.pr15 {padding-right: 15px;}.pr20 {padding-right: 20px;}.pr25 {padding-right: 25px;}.pr30 {padding-right: 30px;}.pr35 {padding-right: 35px;}.pr40 {padding-right: 40px;}.pr45 {padding-right: 40px;}.pr50 {padding-right: 50px;}
